body{
    margin: 0;
    padding: 0;

}
.image{
 height: 150px;
 width: auto;
 display:flex;
 justify-content: center;
 

}
.image img{
    height: 150px;
    width: 200px;
   
}
h1{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    margin-left: 30px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info video{
    height: 300px;
    width: 550px;
    margin-top: 20px;
}
input{
    margin-left: 50px;
    
    justify-content:flex-start;
    
}
textarea{
    height: 150px;
    width: 200px;
}
button{
    width: 70px;
    height: 30px;

}